<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Online</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <h2>Wprowadź komendę</h2>
    <form method="post" action="{% url 'execute_command' %}">
        {% csrf_token %}
        <label for="command">Kod:</label>
        <br>
        <textarea id="command" name="command" rows="10" cols="50"></textarea>
        <br>
        <input type="button" value="Wyczyść" onclick="clearResults()">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="submit" value="Wykonaj">
    </form>
    <div id="result">
        {% if result %}
            <h2>Wynik:</h2>
            <pre>{{ result }}</pre>
        {% endif %}

        {% if error_message %}
            <h2 class="error">Błąd:</h2>
            <p class="error">{{ error_message }}</p>
        {% endif %}
    </div>

    <script>
        function clearResults() {
            document.getElementById("result").innerHTML = "";
        }
    </script>
</body>
</html>
