<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Online</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'codemirror/codemirror.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'codemirror/panda-syntax.css' %}">
    <script src="{% static 'codemirror/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/python.js' %}"></script>
</head>
<body>
    <h2>Wprowadź kod:</h2>
    <form method="post" action="{% url 'execute_command' %}">
        {% csrf_token %}
        <textarea id="command" name="command" class="form">{{ command }}</textarea>
        <br>
        <input type="submit" class="btn btn-success" value="Wykonaj">
        <input type="button" class="btn btn-secondary" value="Wyczyść" onclick="clearResults()">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    </form>
    <div id="result">
        {% if result %}
        <h2>Wynik:</h2>
        <pre>{{ result }}</pre>
        {% endif %}
        
        {% if error_message %}
        <h2 class="error">Błąd:</h2>
        <p class="error">{{ error_message }}</p>
        {% endif %}
    </div>
    
    <script>
        function clearResults() {
            document.getElementById("result").innerHTML = "";
        }
        var editor = CodeMirror.fromTextArea(command, {
            lineNumbers: true,
            mode:  "python",
            theme: "panda-syntax"
        });
    </script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
</body>
</html>
