<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Online</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'codemirror/codemirror.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'codemirror/panda-syntax.css' %}">
    <style>
    .CodeMirror{
    border: 1px solid #eee;
    {% if not result%} 
    height: 37vmax;
    {% endif %}
    }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row gy-2 m-2">
            <div class="col-12 col-lg-4">
                <div class="p-3 border">
                    <h2>{{ title }}</h2>
                    <textarea id="content">{{ content }}</textarea>
                    <br>
                    <input type="button" class="btn" value="" style="visibility: hidden;">
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="border p-3">    
                    <h2>Wprowadź kod:</h2>
                    <form method="post" action="{% url 'execute_code' %}">
                        {% csrf_token %}
                        <textarea id="command" name="command" class="form">{{ command }}</textarea>
                        <br>
                        <input type="submit" class="btn btn-success" value="Wykonaj">
                        <input type="submit" class="btn btn-secondary" value="Wyczyść" name="clear_button">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <input type="hidden" name="form_source" value="" id="formSourceField">
                    </form>
                </div>             
            </div>
        </div>
        {% if result%}    
        <div id="output" class="row gy-2 m-2">
            <div class="col-12">
            <div class="position-relative border p-3">   
            <h2>Wynik:</h2>
            <textarea id="result">{{ result }}</textarea>
                    <form method="post" action="{% url 'check_answer' %}" class="position-absolute bottom-0 start-50 translate-middle-x p-3">
                        <input type="submit" class="btn btn-primary" value="Sprawdź czy twoja odpowiedź jest poprawna" name="Sprawdz">
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'codemirror/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/python.js' %}"></script>
    <script>
        var editor3 = CodeMirror.fromTextArea(content, {
            mode: null
        });
        var editor = CodeMirror.fromTextArea(command, {
            lineNumbers: true,
            mode:  "python",
            theme: "panda-syntax"
        });
        var editor2 = CodeMirror.fromTextArea(result, {
            readOnly: true,
            mode: null
        });
    </script>
</body>
</html>